<div class="navbar navbar-inverse">
    <div class="navbar-header">
        
        <b><%= link_to("SAO-EE.VN", { controller: "main", action: "index" }, class: "navbar-brand") %></b>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <p class="navbar-text"><span class="label bg-success-400">Online</span></p>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch <%= "active" if params[:locale] == "vi" %>">
                <a href="<%= url_for( :locale => 'vi' ) %>">
                    <img src="/backend/assets/images/flags/vn.png" class="position-left" alt="">
                      Tiếng Việt
                </a>

                <!--<ul class="dropdown-menu">
                    <li><a class="english"><img src="/backend/assets/images/flags/gb.png" alt=""> English</a></li>
                    <li><a class="espana"><img src="/backend/assets/images/flags/vn.png" alt=""> Vietnam</a></li>
                </ul>-->
            </li>
            
            <li class="dropdown language-switch <%= "active" if params[:locale] == "en" %>">
                
                <a href="<%= url_for( :locale => 'en' ) %>">
                    <img src="/backend/assets/images/flags/gb.png" class="position-left" alt="">
                      English
                </a>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/backend/assets/images/logo_admin.png" alt="">
                    <span><%= t(:admin) %></span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> <%= t(:my_profile) %></a></li>
                    <li><a href="#"><i class="icon-cog5"></i> <%= t(:account_settings) %></a></li>
                    <li class="divider"></li>
                    <li><% if user_signed_in? %>
                            <%= link_to('<i class="icon-switch2"></i>'.html_safe + t(:logout).html_safe, destroy_user_session_path, :method => :delete) %>
                        <%end%>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>