<div class="site_wrapper">
   

	<!-- HEADER -->
	<header id="header">
	 
		<%= render 'home/header' %>
		
	</header><!-- end header -->
	
	<div class="clearfix"></div>
	
	<div class="page_title">
	
		<div class="container">
			
			<div class="title"><h1><%= t(:about_us) %></h1></div>
			
			<div class="pagenation">&nbsp;<%= link_to t(:home), root_path %> <i>/</i> <%= t(:about_us) %></div>
		
		</div>
	
	</div><!-- end page title --> 
	
	
	<!-- Contant
	======================================= -->
	
	<div class="container">
	
		<div class="content_fullwidth">
	
			<div class="two_third" style="width: 100%; text-transform: capitalize;">
			
				<img src="http://placehold.it/275x250" alt="" class="image_left1" />
				
				<h2>Giới thiệu<strong> Về chúng tôi</strong></h2>
				
				<p><strong>Lorem Ipsum which looks reasonable generated prempsum is therefore always free from repetition injected words.</strong></p>
				
				<br />
				
				<p>Praesent vestibulum molestie lacus. Aenean nony hendrerit mauris. Phasellus porta. Fusce suscipit sociis natoque penatibus et magnis dis parturient montes, nascetur suscipit varius penatibus et magnis dis nascetur ridiculus mus Fusce feugiat malesuada odio. Morbi nunc odio, gravida ate cursus alteration some form montes.</p>
			
			</div><!-- end section -->
			
		
		</div><!-- progress bars section -->
	
	</div><!-- end content area -->

	<div class="clearfix mar_top5"></div>

	<!-- Footer
	======================================= -->
	
		<%= render 'home/footer' %>
		
	<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->
<script type="text/javascript" src="/frontend/js/universal/jquery.js"></script>

<!-- style switcher -->
<script src="/frontend/js/style-switcher/jquery-1.js"></script>
<script src="/frontend/js/style-switcher/styleselector.js"></script>

<!-- main menu -->
<script type="text/javascript" src="/frontend/js/mainmenu/ddsmoothmenu.js"></script>

<script type="text/javascript" src="/frontend/js/mainmenu/selectnav.js"></script>

<!-- progress bar -->
<script src="/frontend/js/progressbar/progress.js" type="text/javascript" charset="utf-8"></script>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-374977-27']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<!-- jquery jcarousel -->
<script type="text/javascript" src="/frontend/js/jcarousel/jquery.jcarousel.min.js"></script>

<script type="text/javascript" src="/frontend/js/mainmenu/scripts.js"></script>

<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<!-- accordion -->
<script type="text/javascript" src="/frontend/js/accordion/custom.js"></script>

<script type="text/javascript" src="/frontend/js/sticky-menu/core.js"></script>
<script type="text/javascript" src="/frontend/js/sticky-menu/modernizr.custom.75180.js"></script>