<div>
    <div class="contactpage_section">

        <div class="clearfix"></div>

        <div id="contact" class="contact_info">

            <div class="container">

                <div class="one_half">

                    <h3><%= t(:company_name) %></h3>

                    <div class="clearfix"></div>

                    <div class="one_full">

                        <div class="one_half">

                            <ul class="address">

                                <li><i class="fa fa-map-marker fa-lg"></i> <%= t(:company_address) %></li>

                                <li class="last"><i class="fa fa-envelope"></i> <a href="mailto:info@sao-ee.vn">info@sao-ee.vn</a></li>

                                <li><i class="fa fa-phone"></i> +84 28 6682 2233</li>

                            </ul>

                        </div>

                        <div class="one_half last">

                            <div class="map">

                                <iframe class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4800097463913!2d106.70093661429713!3d10.774500362176694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f46e196af35%3A0x4c91d3cfa5250cfe!2zNjggTmd1ecOqzINuIEh1w6rMoywgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCA3MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1461649427453"></iframe>
                            
                            </div>

                        </div>

                    </div>

                </div>
                <!-- end section -->


                <div class="one_half last ajax_loading_form_contact">

                    <h3><%= t(:contact) %></h3>

                    <%= form_for Contact.new do |f| %>
                    
                        <fieldset>
                            
                            <label for="name" class="blocklabel"><%= t(:yourname) %>*</label>
                            
                            <p class="input-contact"><input required="required" name="contact[name]" class="input_bg contact_name" type="text" id="contact_name" value="" placeholder="<%= t(:yourname) %>"></p>
                    
                            <label for="email" class="blocklabel"><%= t(:email) %>*</label>
                            
                            <p class="input-contact"><input required="required" name="contact[email]" class="input_bg contact_email" type="email" id="contact_email" value="" placeholder="<%= t(:email) %>"></p>
                            
                            <label for="website" class="blocklabel"><%= t(:phone) %>*</label>
                            
                            <p class="input-contact"><input required="required" name="contact[phone]" class="input_bg contact_phone" type="text" id="contact_phone" value="" placeholder="<%= t(:phone) %>"></p>
                            
                            <label for="message" class="blocklabel"><%= t(:message) %>*</label>
                            
                            <p class="input-contact"><textarea required="required" name="contact[message]" class="textarea_bg contact_message" id="contact_message" cols="20" rows="7" placeholder="<%= t(:message) %>"></textarea></p><p>
                            
                            </p><div class="clearfix"></div>
                            
                            <br />
                            
                            <%= f.submit t(:submit), class: 'comment_submit submit_button' %><p></p>
                            
                            <% if @success == true %>
                                
                                <div class="success">
                                   
                                    <div class="message-box-wrap">
                                       
                                       Lời nhắn của bạn đã được gửi <strong>thành công!</strong> Xin cảm ơn.
                                    
                                    </div>
                                
                                </div>
                            
                            <% end %>
                        
                        </fieldset>
                        
                    <% end %>

                </div>

            </div>

        </div>

        <!-- copyright info -->
        <div class="copyright_info">

            Copyright &copy; 2016 SAO-EE.VN - All Rights Reserved. Developed by <a href="http://hoangkhang.com.vn" target="_blank">Hoang Khang Incotech</a>

        </div>
        <!-- end copyright info -->

    </div>
</div>
<!-- end contact -->

<a href="#" class="scrollup">Scroll Up</a>
<!-- end scroll to top of the page-->