<div class="footer">
	
	<div class="container">
    
   		<div class="one_fourth footer_left">
            
            <ul class="contact_address">
				<li><i></i><%= t(:company_name) %></li>
                <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; <%= t(:company_address) %></li>
                <li><i class="fa fa-phone"></i>&nbsp; +84 8 668 222 33</li>
                <li><i class="fa fa-print"></i>&nbsp; </li>
			</ul>
            
        </div><!-- end address section -->
        
        <div class="one_fourth">
        	
            <h2><%= t(:information) %> <i></i></h2>

            <ul class="list footer_info">
                <li><a href="<%= root_path %>"><i class="fa fa-angle-right"></i> <%= t(:home) %></a></li>
				<li><a href="<%= url_for(controller: 'home', action: 'sao') %>"><i class="fa fa-angle-right"></i> <%= t(:sao) %></a></li>
            </ul>
			<ul class="list footer_info">
				<li><a href="<%= url_for(controller: 'about_us', action: 'index') %>"><i class="fa fa-angle-right"></i> <%= t(:about_us) %></a></li>
                <li><a href="<%= url_for(controller: 'project', action: 'index') %>"><i class="fa fa-angle-right"></i> <%= t(:projects) %></a></li>
			</ul>
			<ul class="list footer_info">
				<li><a href="<%= url_for(controller: 'news', action: 'index') %>"><i class="fa fa-angle-right"></i> <%= t(:news) %></a></li>
                <li><a href="<%= url_for(controller: 'contact', action: 'index') %>"><i class="fa fa-angle-right"></i> <%= t(:contact) %></a></li>
			</ul>
			
        </div><!-- end useful links -->
         
        <div class="one_fourth footer_right">
        	
            <div class="twitter_feed">
            
            	<h2><%= t(:lastest_news) %> <i></i></h2>
                
				<ul class="recent_posts_list">
					<li>
						<span><a href="#"><img src="/frontend/layout2/images/news-tiet-kiem-nang-luong.jpg" alt="50x50" /></a></span>
						<a href="#">Tiết kiệm nước tiết kiệm năng lượng</a>
						 <i>January 13, 2014</i> 
					</li>
					<li class="last">
						<span><a href="#"><img src="/frontend/layout2/images/news-tiet-kiem-nang-luong.jpg" alt="50x50" /></a></span>
						<a href="#">Tiết kiệm nước tiết kiệm năng lượng</a>
						 <i>January 11, 2014</i> 
					</li>
				</ul>
                
            </div>
            
        </div><!-- end tweets -->
             
    </div>
	
    <div class="clearfix"></div>
    
</div>

<div class="copyright_info">

    <div class="container">
    
        <div class="one_half">

			<b>Copyright © 2016 SAO-EE.VN - All rights reserved.  Developed by <a href="http://hoangkhang.com.vn/"><i style="text-decoration: underline;">Hoang Khang Incotech</i></a></b>
		
		</div>
    
    	<div class="one_half last">
     		
            <ul class="footer_social_links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
                
    	</div>
    
    </div>
    
</div><!-- end copyright info -->

	<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->

</div>