<div class="footer">
	
	<div class="container">
    
   		<div class="one_fourth" style="width: 29%;">
            
            <ul class="contact_address">
                <li><i></i><%= t(:company_name) %></li>
                <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; <%= t(:company_address) %></li>
                <li><i class="fa fa-phone"></i>&nbsp; +84 8 668 222 33</li>
                <li><i class="fa fa-print"></i>&nbsp; </li>
                <li><img src="/frontend/images/footer-wmap.png" alt="" /></li>
            </ul>
            
        </div><!-- end address section -->
        
        <div class="one_fourth" style="width: 29%;">
        	
            <h2><%= t(:information) %> <i></i></h2>
            
            <ul class="list">
                <li><a href="<%= root_path %>"><i class="fa fa-angle-right"></i> <%= t(:home) %></a></li>
                <li><a href="<%= url_for(controller: 'about_us', action: 'index') %>"><i class="fa fa-angle-right"></i> <%= t(:about_us) %></a></li>
                <li><a href="<%= url_for(controller: 'project', action: 'index') %>"><i class="fa fa-angle-right"></i> <%= t(:projects) %></a></li>
                <li><a href="<%= url_for(controller: 'news', action: 'index') %>"><i class="fa fa-angle-right"></i> <%= t(:news) %></a></li>
                <li><a href="<%= url_for(controller: 'contact', action: 'index') %>"><i class="fa fa-angle-right"></i> <%= t(:contact) %></a></li>
            </ul>
            
        </div><!-- end useful links -->
         
        <div class="one_fourth" style="width: 29%;">
        	
            <div class="twitter_feed">
            
            	<h2><%= t(:lastest_news) %> <i></i></h2>
                
                <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
                <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Avira - Responsive html5 Professional and Brand New Look Template on ThemeForest.<br />
				<a href="#" class="small">.9 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
                
                <div class="clearfix divider_line4"></div>
                
                <div class="left"><i class="fa fa-twitter fa-lg"></i></div>
                <div class="right"><a href="https://twitter.com/gsrthemes9" target="_blank">gsrthemes9</a>: Kinvexy - Responsive HTML5 / CSS3, Professional Corporate Theme.<br />
				<a href="#" class="small">.10 days ago</a> .<a href="#" class="small">reply</a> .<a href="#" class="small">retweet</a> .<a href="#" class="small">favorite</a></div>
                
            </div>
            
        </div><!-- end tweets -->
             
    </div>
	
    <div class="clearfix"></div>
    
</div>

<div class="copyright_info">

    <div class="container">
    
        <div class="one_half">
        
            <b>&copy; 2016 <%= link_to '<i style="color: #999">SAO-EE.VN</i>'.html_safe %> - All Rights Reserved.  Developed by <%= link_to '<i style="color: #999">Hoang Khang Incotech</i>'.html_safe, "http://hoangkhang.com.vn/", target: "_blank" %></b>
            
        </div>
    
    	<div class="one_half last">
     		
            <ul class="footer_social_links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a href="#"><i class="fa fa-html5"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
                
    	</div>
    
    </div>
    
</div><!-- end copyright info -->

	<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->

</div>