<h3><%= t(:contact) %></h3>

<%= form_for Contact.new do |f| %>

    <fieldset>
        
        <label for="name" class="blocklabel"><%= t(:yourname) %>*</label>
        
        <p class="input-contact"><input required="required" name="contact[name]" class="input_bg contact_name" type="text" id="contact_name" value="" placeholder="<%= t(:yourname) %>"></p>

        <label for="email" class="blocklabel"><%= t(:email) %>*</label>
        
        <p class="input-contact"><input required="required" name="contact[email]" class="input_bg contact_email" type="email" id="contact_email" value="" placeholder="<%= t(:email) %>"></p>
        
        <label for="website" class="blocklabel"><%= t(:phone) %>*</label>
        
        <p class="input-contact"><input required="required" name="contact[phone]" class="input_bg contact_phone" type="text" id="contact_phone" value="" placeholder="<%= t(:phone) %>"></p>
        
        <label for="message" class="blocklabel"><%= t(:message) %>*</label>
        
        <p class="input-contact"><textarea required="required" name="contact[message]" class="textarea_bg contact_message" id="contact_message" cols="20" rows="7" placeholder="<%= t(:message) %>"></textarea></p><p>
        
        </p><div class="clearfix"></div>
        
        <br />
        
        <%= f.submit t(:submit), class: 'comment_submit submit_button' %><p></p>
        
        <% if @success == true %>
            
            <div class="success">
               
                <div class="message-box-wrap">
                   
                   Lời nhắn của bạn đã được gửi <strong>thành công!</strong> Xin cảm ơn.
                
                </div>
            
            </div>
        
        <% end %>
    
    </fieldset>
    
<% end %>