<div class="site_wrapper">


<!-- HEADER -->
<header id="header">

	<!-- Top header bar -->
	<div id="trueHeader">

		<div class="wrapper">

			<div class="container">

				<!-- Logo -->
				<div class="one_fourth">
					
					<%= link_to "", root_path, id: "logo" %>
					
				</div>

				<!-- Menu -->
				<div class="three_fourth last">

					<div id="top-nav" class="">

						<ul id="fixed-nav">

							<li class="current"><a onclick="window.location='<%= url_for("/") %>#home'" href="#home"><%= t(:fr_home) %></a></li>

							<li><a onclick="window.location='<%= url_for("/") %>#about_us'" href="<%= url_for("/") %>#about_us"><%= t(:fr_about) %></a></li>
							
							<li><a onclick="window.location='<%= url_for("/") %>#sao'" href="<%= url_for("/") %>#sao">S-A-O</a></li>

							<li><a onclick="window.location='<%= url_for("/") %>#portfolio'" href="<%= url_for("/") %>#portfolio"><%= t(:fr_project) %></a></li>

							<li><a onclick="window.location='<%= url_for("/") %>#news'" href="<%= url_for("/") %>#news"><%= t(:fr_news) %></a></li>

							<li><a onclick="window.location='<%= url_for("/") %>#contact'" href="<%= url_for("/") %>#contact"><%= t(:fr_contact) %></a></li>

							<li>

								<% if !params[:locale].present? or params[:locale] == "en" %>
									
									<a onclick="window.location='<%= url_for( :locale => 'vi' ) %>'" href="<%= url_for( :locale => 'vi' ) %>"><img src="/frontend/images/vn.png" class="img-flags" ></a>
								
								<% else %>
								
									<a onclick="window.location='<%= url_for( :locale => 'en' ) %>'" href="<%= url_for( :locale => 'en' ) %>"><img src="/frontend/images/gb.png" class="img-flags" ></a>

								<% end %>
							</li>

						</ul>

					</div>
					<!-- end nav menu -->

				</div>

			</div>

		</div>

	</div>

</header>
<!-- end header -->


<div class="clearfix"></div>


<div id="home">

	<div class="clearfix"></div>

	<div id="portfolio">
		
		<div class="portfoliopage_section">

			<div class="container">

				<div class="portfolio_page">

					<h1><%= t(:fr_energy_services) %></strong></h1>
						
					<div class="clearfix"></div>

						<div class="aboutpage_section">
							<div class="one_full">
								<div class="one_fifth">
									<ul class="list1">
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_1) %></li>
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_2) %></li>
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_3) %></li>
									</ul>
								</div>
								
								<div class="one_fifth">
									<ul class="list1">
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_4) %></li>
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_5) %></li>
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_6) %></li>
									</ul>
								</div>
								
								<div class="one_fifth">
									<ul class="list1">
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_7) %></li>
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_8) %></li>
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_9) %></li>
									</ul>
								</div>
								
								<div class="one_fifth last">
									<ul class="list1">
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_10) %></li>
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_11) %></li>
										<li><i class="fa fa-chevron-circle-right"></i> <%= t(:energy_service_12) %></li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
							
							<% @saos.each do |sao_item| %>
								
								<div id="" class="joosa"><!--margin_sao-->
									
									<div class="container">
					
										<div class="">
											
											<div class="images-box-<%= sao_item.article_list_images.count %>">
											
												<div>
													
													<h3 class="sao_page"><%= sao_item.display_title(params[:locale]) %></h3>
													
														<p class="font-content"><img src="<%= sao_item.image_url %>" alt="Full" /></p>
													
												</div>
												
												<% sao_item.article_list_images.each do |image| %>
												
													<div>
														
														<h3><%= image.display_title(params[:locale]) %></h3>
															<p class="font-content"><img src="<%= image.image_url %>" alt="Full" /></p>
													</div>
													
												<% end %>
												
											</div>
											
										</div>
					
									</div>
								
								</div>
								<!-- end features section 2 -->
							
							<% end %>
				
							<div class="clearfix"></div>
				
						</div>
					<!-- end about -->

				</div>

			</div>

			<div class="clearfix mar_top6"></div>

		</div>
	</div>
	<!-- end portfolio -->

	<div class="clearfix"></div>

	<div>
		<div class="contactpage_section">

		

			<div class="clearfix"></div>

			<div id="contact" class="contact_info">

				<div class="container">

					<div class="one_half">

						<h3><%= t(:company_name) %></h3>

						<div class="clearfix"></div>

						<div class="one_full">

							<div class="one_half">

								<ul class="address">

									<li><i class="fa fa-map-marker fa-lg"></i> <%= t(:company_address) %></li>

									<li class="last"><i class="fa fa-envelope"></i> <a href="mailto:info@sao-ee.vn">info@sao-ee.vn</a></li>

									<li><i class="fa fa-phone"></i> +84 8 6682 2233</li>

								</ul>

							</div>

							<div class="one_half last">

								<div class="map">

									<iframe class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4800097463913!2d106.70093661429713!3d10.774500362176694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f46e196af35%3A0x4c91d3cfa5250cfe!2zNjggTmd1ecOqzINuIEh1w6rMoywgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCA3MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1461649427453"></iframe>
								
								</div>

							</div>

						</div>

					</div>
					<!-- end section -->


					<div class="one_half last ajax_loading_form_contact">

						<%= render "home/form_contact" %>

					</div>

				</div>

			</div>

			<!-- copyright info -->
			<div class="copyright_info">

				Copyright &copy; 2016 SAO-EE.VN - All Rights Reserved. Developed by Hoang Khang Incotech

			</div>
			<!-- end copyright info -->

		</div>
	</div>
	<!-- end contact -->

	<a href="#" class="scrollup">Scroll</a>
	<!-- end scroll to top of the page-->


</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->
<%= javascript_include_tag "/frontend/js/universal/jquery.js" %>

<!-- style switcher -->
<%= javascript_include_tag "/frontend/js/style-switcher/jquery-1.js" %>
<%= javascript_include_tag "/frontend/js/style-switcher/styleselector.js" %>

<!-- fancyBox -->
<%= javascript_include_tag "/frontend/js/portfolio/lib/jquery-1.9.0.min.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/source/jquery.fancybox.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/source/helpers/jquery.fancybox-media.js" %>

<!-- isotope -->
<%= javascript_include_tag "/frontend/js/portfolio/jquery.isotope.js" %>

<!-- iosSlider plugin -->
<%= javascript_include_tag "/frontend/js/iosslider/_src/jquery.iosslider.js" %>
<%= javascript_include_tag "/frontend/js/iosslider/_lib/jquery.easing-1.3.js" %>
<%= javascript_include_tag "/frontend/js/iosslider/_src/custom.js" %>

<!-- scrollto -->
<%= javascript_include_tag "/frontend/js/jquery.scrollto.min.js" %>
<%= javascript_include_tag "/frontend/js/jquery.nav.js" %>
<%= javascript_include_tag "/frontend/js/main.js" %>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>

<!-- isotope -->
<script type="text/javascript">
	$(window).load(function() {
		var $container = $('.portfolioContainer');
		$container.isotope({
			filter: '*',
			animationOptions: {
				duration: 750,
				easing: 'linear',
				queue: false
			}
		});

		$('.portfolioFilter a').click(function() {
			$('.portfolioFilter .current').removeClass('current');
			$(this).addClass('current');

			var selector = $(this).attr('data-filter');
			$container.isotope({
				filter: selector,
				animationOptions: {
					duration: 750,
					easing: 'linear',
					queue: false
				}
			});
			return false;
		});
	});
</script>

<!-- main menu -->
<%= javascript_include_tag "/frontend/js/mainmenu/jquery-1.7.1.min.js" %>
<!-- jquery jcarousel -->
<%= javascript_include_tag "/frontend/js/jcarousel/jquery.jcarousel.min.js" %>

<!-- REVOLUTION SLIDER -->
<%= javascript_include_tag "/frontend/js/revolutionslider/rs-plugin/js/jquery.themepunch.revolution.min.js" %>



<!-- scroll up -->
<script type="text/javascript">
	$(document).ready(function() {

		$(window).scroll(function() {
			if ($(this).scrollTop() > 100) {
				$('.scrollup').fadeIn();
			} else {
				$('.scrollup').fadeOut();
			}
		});

		$('.scrollup').click(function() {
			$("html, body").animate({
				scrollTop: 0
			}, 500);
			return false;
		});

	});
</script>

<!-- tweets -->
<script type="text/javascript">
	//<![CDATA[ 
	$(window).load(function() {
		$(".controlls li a").click(function(e) {
			e.preventDefault();
			var id = $(this).attr('class');
			$('#slider div:visible').fadeOut(500, function() {
				$('div#' + id).fadeIn();
			})
		});
	}); //]]>
</script>

<!-- jquery jcarousel -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('#mycarousel').jcarousel();
	});

	jQuery(document).ready(function() {
		jQuery('#mycarouseltwo').jcarousel();
	});

	jQuery(document).ready(function() {
		jQuery('#mycarouselthree').jcarousel();
	});

	jQuery(document).ready(function() {
		jQuery('#mycarouselfour').jcarousel();
	});
</script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript">
	var tpj = jQuery;
	tpj.noConflict();

	tpj(document).ready(function() {

		if (tpj.fn.cssOriginal != undefined)
			tpj.fn.css = tpj.fn.cssOriginal;

		var api = tpj('.fullwidthbanner').revolution({
			delay: 6000,
			startwidth: 1170,
			startheight: 580,

			onHoverStop: "on", // Stop Banner Timet at Hover on Slide on/off

			thumbWidth: 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
			thumbHeight: 50,
			thumbAmount: 3,

			hideThumbs: 200,
			navigationType: "none", // bullet, thumb, none
			navigationArrows: "solo", // nexttobullets, solo (old name verticalcentered), none

			navigationStyle: "round", // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


			navigationHAlign: "center", // Vertical Align top,center,bottom
			navigationVAlign: "bottom", // Horizontal Align left,center,right
			navigationHOffset: 30,
			navigationVOffset: -40,

			soloArrowLeftHalign: "left",
			soloArrowLeftValign: "center",
			soloArrowLeftHOffset: 0,
			soloArrowLeftVOffset: 0,

			soloArrowRightHalign: "right",
			soloArrowRightValign: "center",
			soloArrowRightHOffset: 0,
			soloArrowRightVOffset: 0,

			touchenabled: "on", // Enable Swipe Function : on/off


			stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
			stopAfterLoops: -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

			hideCaptionAtLimit: 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
			hideAllCaptionAtLilmit: 0, // Hide all The Captions if Width of Browser is less then this value
			hideSliderAtLimit: 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value


			fullWidth: "on",

			shadow: 0 //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

		});

	});
</script>

<%= javascript_include_tag "/frontend/js/sticky-menu/core.js" %>
<%= javascript_include_tag "/frontend/js/sticky-menu/modernizr.custom.75180.js" %>

<!-- fancyBox -->
<script type="text/javascript">
	$(document).ready(function() {
		/* Simple image gallery. Uses default settings */
		$('.fancybox').fancybox();

		/* media effects*/
		$(document).ready(function() {
			$('.fancybox-media').fancybox({
				openEffect: 'none',
				closeEffect: 'none',
				helpers: {
					media: {}
				}
			});
		});

	});
</script>

<!-- Loading form -->
<script>
	$(document).on("click",".submit_button", function(event)
	{
		event.preventDefault();
		
		
		if ($(this).parents('form').valid()) {
			$(this).attr('value','<%= t(:sending).html_safe %>');
            var data = $(this).parents('form').serialize();
			url = "<%= send_email_contacts_path %>"
			$.ajax({
				method: "POST",
				url: url,
				data: data
			})
			.done(function( msg ) {
			  $(".ajax_loading_form_contact").html(msg);
			});
        }
			
	});
</script>