<div class="site_wrapper">


<!-- HEADER -->
<header id="header">

	<!-- Top header bar -->
	<div id="trueHeader">

		<div class="wrapper">

			<div class="container">

				<!-- Logo -->
				<div class="one_fourth">
					
					<%= link_to "", root_path, id: "logo" %>
					
				</div>

				<!-- Menu -->
				<div class="three_fourth last">
					
					<nav id="access" class="access" role="navigation">

						<div id="top-nav" class="">
	
							<ul id="fixed-nav">
	
								<li class="current"><a href="#home"><%= t(:fr_home) %></a></li>
	
								<li><a href="#about_us"><%= t(:fr_about) %></a></li>
								
								<li>
									<a href="#sao">S-A-O <i class="fa fa-angle-down"></i></a>
									<ul>
										<li>
											<%= link_to "Architecture Services", architecture_path %>
										</li>					
										<li>
											<%= link_to "Energy Services", energy_path %>
											<!--<a onclick="true" href="<%= energy_path %>"></a>-->
										</li>
									</ul>
								</li>
	
								<li><a href="#portfolio"><%= t(:fr_project) %></a></li>
	
								<li><a href="#news"><%= t(:fr_news) %></a></li>
	
								<li><a href="#contact"><%= t(:fr_contact) %></a></li>
	
								<li>

									<% if !params[:locale].present? or params[:locale] == "en" %>
										
										<a onclick="window.location='<%= url_for( :locale => 'vi' ) %>'" href="<%= url_for( :locale => 'vi' ) %>"><img src="/frontend/images/vn.png" class="img-flags" ></a>
									
									<% else %>
									
										<a onclick="window.location='<%= url_for( :locale => 'en' ) %>'" href="<%= url_for( :locale => 'en' ) %>"><img src="/frontend/images/gb.png" class="img-flags" ></a>
	
									<% end %>
								</li>
	
							</ul>
	
						</div>
					</nav>

				</div>

			</div>

		</div>

	</div>

</header>
<!-- end header -->


<div class="clearfix"></div>


<div id="home">
	
	<%= render 'slideshow' %>

	<div>

		<div class="aboutpage_section">

			<div id="about_us" class="joosa features2">
				
				<div class="container">

					<div class="left"><img src="<%= @about_us.image_url.aboutus_square_image %>" alt="385x310" /></div>
					<!-- end left -->

					<div class="right">

						<h2><strong><%= @about_us.display_title(params[:locale]) %></strong></h2>

						<p class="font-content"><%= @about_us.display_content(params[:locale]).html_safe %></p><br /><br />
						
						<div class="button1">
							
							<a href="#portfolio" class="more_but"><i class="fa fa-arrow-circle-right"></i>&nbsp; <%= t(:fr_project_image) %></a>
							<a href="#contact" class="more_but two"><i class="fa fa-globe"></i>&nbsp; <%= t(:fr_contact) %></a>
							
						</div>

					</div>
					<!-- end right -->

				</div>
			
			</div>
			<!-- end features section 2 -->

			<div class="clearfix"></div>

		</div>
	
	</div>
	<!-- end about -->

	<div class="clearfix"></div>
	
	<div>

		<div class="servicespage_section">

			<div id="sao" class="joosa features2 services_slider_sec1">
				
				<div class="container">
					
					<% if params[:locale] == "vi" and @intros.image_url_vi.present? %>
						<div class="left"><img src="<%= @intros.image_url_vi.intros_square_image %>" alt="385x310" /></div>
					<% else %>
						<div class="left"><img src="<%= @intros.image_url.intros_square_image %>" alt="385x310" /></div>
					<% end %>
					<!-- end left -->

					<div class="right">

						<h2 style="color: #098a00">Simulation-Analysis-Optimization</h2>

						<h3 style="color: #ff0000">Energy Efficiency</h3>
			
						<p class=""><%= @intros.display_content(params[:locale]).html_safe %></p>

					</div>
					<!-- end right -->

				</div>
			
			</div>
			<!-- end features section 2 -->

			<div class="clearfix"></div>

		</div>
	</div>
	<!-- end about -->
	
	

	<div class="clearfix"></div>

	<div id="portfolio">
		
		<div class="portfoliopage_section">

			<div class="container">

				<div class="portfolio_page">

					<h1><%= t(:fr_projects) %></strong>
					
					<br />
					
					<i><%= t(:fr_project_title) %></i>
					
					</h1>

					<div class="portfolioFilter">

						<a href="#" data-filter="*" class="current">Tất cả</a>
						
						<a href="#" data-filter=".places">Project Heineken Factory</a>
						
						<a href="#" data-filter=".people">Town house</a>

					</div>

					<div class="clearfix mar_top5"></div>


					<div class="portfolioContainer">
						
						<% @projects.each do |project| %>
							
							<div class="people">
									
								<a class="" href="<%= url_for(controller: 'project', action: 'project_detail', article_id: project.id) %>" data-fancybox-group="gallery" title="<%= project.display_title(params[:locale]) %>">
								
									<div class="imgWrap"><img src="<%= project.image_url.larger_rectangle_image %>" alt="" />
									
										<p class="imgDescription"></p>
										
										<h3><a href="<%= url_for(controller: 'project', action: 'project_detail', article_id: project.id ) %>"><%= project.display_title(params[:locale]) %></a></h3>
									
									</div>
								
								</a>
							
							</div>
						
						<% end %>

					</div>

				</div>

			</div>

			<div class="clearfix mar_top6"></div>

		</div>
	</div>
	<!-- end portfolio -->

	<div>

		<div class="aboutpage_section">

			<div id="news" class="joosa features2">
				
				<% if params[:locale] == "vi" %>
				
				<div class="container">

					<div class="center" style="margin-bottom: 40px;"><img src="/frontend/images/blog/tin-tuc-vi.jpg" alt="full-with" style="width: 100%" /></div>

				</div>
				
				<% else %>
					
					<div class="container">

						<div class="center" style="margin-bottom: 40px;"><img src="/frontend/images/blog/tin-tuc-en.jpg" alt="full-with" style="width: 100%" /></div>
	
					</div>
					
				<% end %>
				
				<div class="container">

					<div class="center" style="margin-bottom: 40px;"><img src="/frontend/images/blog/tin-tuc-1-2-en.jpg" alt="full-with" style="width: 100%" /></div>

				</div>
				
				<div class="container">

					<div class="left" style="margin-bottom: 40px;"><img src="<%= @news.image_url.news_square_image %>" alt="385x310" /></div>
					<!-- end left -->

					<div class="right">

						<h2><strong><%= @news.display_title(params[:locale]) %></strong></h2>

						<p class="font-content"> <%= @news.display_content(params[:locale]).html_safe %></p>

					</div>
					<!-- end right -->

				</div>
				
			</div>
			<!-- end features section 2 -->

			<div class="clearfix"></div>

		</div>
	</div>
	<!-- end about -->

	<div class="clearfix"></div>

	<%= render 'modules/footer' %>


</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->
<%= javascript_include_tag "/frontend/js/universal/jquery.js" %>

<!-- style switcher -->
<%= javascript_include_tag "/frontend/js/style-switcher/jquery-1.js" %>
<%= javascript_include_tag "/frontend/js/style-switcher/styleselector.js" %>

<!-- fancyBox -->
<%= javascript_include_tag "/frontend/js/portfolio/lib/jquery-1.9.0.min.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/source/jquery.fancybox.js" %>
<%= javascript_include_tag "/frontend/js/portfolio/source/helpers/jquery.fancybox-media.js" %>

<!-- isotope -->
<%= javascript_include_tag "/frontend/js/portfolio/jquery.isotope.js" %>

<!-- iosSlider plugin -->
<%= javascript_include_tag "/frontend/js/iosslider/_src/jquery.iosslider.js" %>
<%= javascript_include_tag "/frontend/js/iosslider/_lib/jquery.easing-1.3.js" %>
<%= javascript_include_tag "/frontend/js/iosslider/_src/custom.js" %>

<!-- scrollto -->
<%= javascript_include_tag "/frontend/js/jquery.scrollto.min.js" %>
<%= javascript_include_tag "/frontend/js/jquery.nav.js" %>
<%= javascript_include_tag "/frontend/js/main.js" %>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js"></script>

<!-- isotope -->
<script type="text/javascript">
	$(window).load(function() {
		var $container = $('.portfolioContainer');
		$container.isotope({
			filter: '*',
			animationOptions: {
				duration: 750,
				easing: 'linear',
				queue: false
			}
		});

		$('.portfolioFilter a').click(function() {
			$('.portfolioFilter .current').removeClass('current');
			$(this).addClass('current');

			var selector = $(this).attr('data-filter');
			$container.isotope({
				filter: selector,
				animationOptions: {
					duration: 750,
					easing: 'linear',
					queue: false
				}
			});
			return false;
		});
	});
</script>

<!-- main menu -->
<%= javascript_include_tag "/frontend/js/mainmenu/jquery-1.7.1.min.js" %>
<!-- jquery jcarousel -->
<%= javascript_include_tag "/frontend/js/jcarousel/jquery.jcarousel.min.js" %>

<!-- REVOLUTION SLIDER -->
<%= javascript_include_tag "/frontend/js/revolutionslider/rs-plugin/js/jquery.themepunch.revolution.min.js" %>



<!-- scroll up -->
<script type="text/javascript">
	$(document).ready(function() {

		$(window).scroll(function() {
			if ($(this).scrollTop() > 100) {
				$('.scrollup').fadeIn();
			} else {
				$('.scrollup').fadeOut();
			}
		});

		$('.scrollup').click(function() {
			$("html, body").animate({
				scrollTop: 0
			}, 500);
			return false;
		});

	});
</script>

<!-- tweets -->
<script type="text/javascript">
	//<![CDATA[ 
	$(window).load(function() {
		$(".controlls li a").click(function(e) {
			e.preventDefault();
			var id = $(this).attr('class');
			$('#slider div:visible').fadeOut(500, function() {
				$('div#' + id).fadeIn();
			})
		});
	}); //]]>
</script>

<!-- jquery jcarousel -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('#mycarousel').jcarousel();
	});

	jQuery(document).ready(function() {
		jQuery('#mycarouseltwo').jcarousel();
	});

	jQuery(document).ready(function() {
		jQuery('#mycarouselthree').jcarousel();
	});

	jQuery(document).ready(function() {
		jQuery('#mycarouselfour').jcarousel();
	});
</script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript">
	var tpj = jQuery;
	tpj.noConflict();

	tpj(document).ready(function() {

		if (tpj.fn.cssOriginal != undefined)
			tpj.fn.css = tpj.fn.cssOriginal;

		var api = tpj('.fullwidthbanner').revolution({
			delay: 6000,
			startwidth: 1170,
			startheight: 580,

			onHoverStop: "on", // Stop Banner Timet at Hover on Slide on/off

			thumbWidth: 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
			thumbHeight: 50,
			thumbAmount: 3,

			hideThumbs: 200,
			navigationType: "none", // bullet, thumb, none
			navigationArrows: "solo", // nexttobullets, solo (old name verticalcentered), none

			navigationStyle: "round", // round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


			navigationHAlign: "center", // Vertical Align top,center,bottom
			navigationVAlign: "bottom", // Horizontal Align left,center,right
			navigationHOffset: 30,
			navigationVOffset: -40,

			soloArrowLeftHalign: "left",
			soloArrowLeftValign: "center",
			soloArrowLeftHOffset: 0,
			soloArrowLeftVOffset: 0,

			soloArrowRightHalign: "right",
			soloArrowRightValign: "center",
			soloArrowRightHOffset: 0,
			soloArrowRightVOffset: 0,

			touchenabled: "on", // Enable Swipe Function : on/off


			stopAtSlide: -1, // Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
			stopAfterLoops: -1, // Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

			hideCaptionAtLimit: 0, // It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
			hideAllCaptionAtLilmit: 0, // Hide all The Captions if Width of Browser is less then this value
			hideSliderAtLimit: 0, // Hide the whole slider, and stop also functions if Width of Browser is less than this value


			fullWidth: "on",

			shadow: 0 //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

		});

	});
</script>

<%= javascript_include_tag "/frontend/js/sticky-menu/core.js" %>
<%= javascript_include_tag "/frontend/js/sticky-menu/modernizr.custom.75180.js" %>

<!-- fancyBox -->
<script type="text/javascript">
	$(document).ready(function() {
		/* Simple image gallery. Uses default settings */
		$('.fancybox').fancybox();

		/* media effects*/
		$(document).ready(function() {
			$('.fancybox-media').fancybox({
				openEffect: 'none',
				closeEffect: 'none',
				helpers: {
					media: {}
				}
			});
		});
		
		$("#fixed-nav li ul li a").click(function(e){
			e.preventDefault();
			e.stopPropagation();
			window.location = $(this).attr("href");
		});
	});
</script>

<!-- Loading form -->
<script>
	$(document).on("click",".submit_button", function(event)
	{
		event.preventDefault();
		
		
		if ($(this).parents('form').valid()) {
			$(this).attr('value','<%= t(:sending).html_safe %>');
            var data = $(this).parents('form').serialize();
			url = "<%= send_email_contacts_path %>"
			$.ajax({
				method: "POST",
				url: url,
				data: data
			})
			.done(function( msg ) {
			  $(".ajax_loading_form_contact").html(msg);
			});
        }
			
	});
</script>