<div class="site_wrapper">
   

<!-- HEADER -->
<div class="joosa top_section">
  
  <%= render 'header' %>
  
</div><!-- end header -->

<div class="clearfix mar_top13"></div>
 
<!-- Slider
======================================= -->  

<div class="container_full">
    
    <%= render 'slideshow' %>

</div><!-- end slider -->


<div class="clearfix"></div>

<div class="fresh_projects">
	<div class="container">
    
    	<h1><i></i>
        <strong>Công trình</strong>
        </h1>
        
        <ul id="mycarouseltwo" class="jcarousel-skin-tango">
          
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="/frontend/layout2/images/HF1-150x150.jpg" alt="275x300">
                                        <div class="info">
                                            <div class="title">Công trình nhà máy Heineken <br /><em>Phnom Penh – Cambodia</em>
                                            <ul>
                                            	<li><a href="#"><img src="/frontend/layout2/images/fa-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/twitter-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/like-icon.png" alt="" /></a></li>
                                            </ul>
                                            </div>
                                            <div class="additionnal">
                                            	There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">chi tiết ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div> 
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
            
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="/frontend/layout2/images/NPDN2-150x150.jpg" alt="275x300">
                                        <div class="info">
                                            <div class="title">Công trình nhà phố <br /><em>Đà Nẵng – Việt Nam</em>
                                            <ul>
                                            	<li><a href="#"><img src="/frontend/layout2/images/fa-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/twitter-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/like-icon.png" alt="" /></a></li>
                                            </ul>
                                            </div>
                                            <div class="additionnal">
                                            	There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">chi tiết ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div> 
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
            
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="http://placehold.it/275x300" alt="">
                                        <div class="info">
                                            <div class="title">Công trình ABC <br /><em>TP. Hồ Chí Minh</em>
                                            <ul>
                                            	<li><a href="#"><img src="/frontend/layout2/images/fa-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/twitter-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/like-icon.png" alt="" /></a></li>
                                            </ul>
                                            </div>
                                            <div class="additionnal">
                                            	There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">chi tiết ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
            
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="http://placehold.it/275x300" alt="">
                                        <div class="info">
                                            <div class="title">Công trình nhà phố <br /><em>Đà Nẵng – Việt Nam</em>
                                            <ul>
                                            	<li><a href="#"><img src="/frontend/layout2/images/fa-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/twitter-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/like-icon.png" alt="" /></a></li>
                                            </ul>
                                            </div>
                                            <div class="additionnal">
                                            	There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">chi tiết ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>  
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
            
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="http://placehold.it/275x300" alt="">
                                        <div class="info">
                                            <div class="title">Công trình nhà máy Heineken <br /><em>Phnom Penh – Cambodia</em>
                                            <ul>
                                            	<li><a href="#"><img src="/frontend/layout2/images/fa-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/twitter-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/like-icon.png" alt="" /></a></li>
                                            </ul>
                                            </div>
                                            <div class="additionnal">
                                            	There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">chi tiết ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
            
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="http://placehold.it/275x300" alt="">
                                        <div class="info">
                                            <div class="title">Công trình nhà máy Heineken <em>Phnom Penh – Cambodia</em>
                                            <ul>
                                            	<li><a href="#"><img src="/frontend/layout2/images/fa-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/twitter-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/like-icon.png" alt="" /></a></li>
                                            </ul>
                                            </div>
                                            <div class="additionnal">
                                            	There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">chi tiết ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
            
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="http://placehold.it/275x300" alt="">
                                        <div class="info">
                                            <div class="title">Công trình nhà máy Heineken <br /><em>Phnom Penh – Cambodia</em>
                                            <ul>
                                            	<li><a href="#"><img src="/frontend/layout2/images/fa-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/twitter-icon.png" alt="" /></a></li>
                                                <li><a href="#"><img src="/frontend/layout2/images/like-icon.png" alt="" /></a></li>
                                            </ul>
                                            </div>
                                            <div class="additionnal">
                                            	There are many variations pasages
                                                lpsum available but in the majority
                                                have suffered alteration [...]<br /><br />
                                                <b><a href="#">chi tiết ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div>   
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
               
          </ul>
        
    </div>
    
	<div class="clearfix mar_top2"></div>
    
</div><!-- end fresh projects -->

<div class="clearfix"></div>

<div class="mar_top4"></div>

<div class="joosa fusectio1">
	<div class="container">

	<h1><i></i>
    <strong>Tin tức</strong>
	</h1>

	<div class="one_third">
    	
        <div class="left">
        
        	<h4>Tiết kiệm nước tiết kiệm nă[..]</h4>
			<p>Khi nói đến tiềm năng tiết kiệm năng lượng tại các tòa nhà, khách sạn, chúng ta thườ [..]</p>
            <a href="#"><i class="fa fa-plus-square"></i>&nbsp; Đọc tiếp</a>
		
        </div>
        
        <div class="right one"></div>

    </div><!-- end section -->
    
    <div class="one_third">
    	
        <div class="left">
        
        	<h4>5 diffrent layouts</h4>
            <p>Alterat some form ineicte randomise words which alook believable you are</p>
            <a href="#"><i class="fa fa-plus-square"></i>&nbsp; Đọc tiếp</a>
		
        </div>
        
        <div class="right two"></div>

    </div><!-- end section -->
    
    <div class="one_third last">
    	
        <div class="left">
        
        	<h4>corporate. host. medic.</h4>
            <p>Alterat some form ineicte randomise words which alook believable you are</p>
            <a href="#"><i class="fa fa-plus-square"></i>&nbsp; Đọc tiếp</a>
		
        </div>
        
        <div class="right three"></div>

    </div><!-- end section -->
       
</div>
</div><!-- end features section 1 -->

<div class="clearfix mar_top5"></div>



<div class="clearfix mar_top4"></div>

<!-- Footer
======================================= -->

<%= render 'footer' %>

    
<!-- ######### JS FILES ######### -->

<!-- get jQuery from the google apis -->
<%= javascript_include_tag '/frontend/layout2/js/universal/jquery.js' %>

<!-- style switcher -->
<%= javascript_include_tag '/frontend/layout2/js/style-switcher/jquery-1.js' %>
<%= javascript_include_tag '/frontend/layout2/js/style-switcher/styleselector.js' %>

<!-- main menu -->
<%= javascript_include_tag '/frontend/layout2/js/mainmenu/ddsmoothmenu.js' %>
<%= javascript_include_tag '/frontend/layout2/js/mainmenu/selectnav.js' %>

<!-- jquery jcarousel -->
<%= javascript_include_tag '/frontend/layout2/js/jcarousel/jquery.jcarousel.min.js' %>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<%= javascript_include_tag '/frontend/layout2/js/revolutionslider/rs-plugin/js/jquery.themepunch.plugins.min.js' %>
<%= javascript_include_tag '/frontend/layout2/js/revolutionslider/rs-plugin/js/jquery.themepunch.revolution.min.js' %>

<%= javascript_include_tag '/frontend/layout2/js/mainmenu/scripts.js' %>

<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<!-- jquery jcarousel -->
<script type="text/javascript">

	jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouseltwo').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselfour').jcarousel();
	});
	
</script>

<!-- accordion -->
<%= javascript_include_tag '/frontend/layout2/js/accordion/custom.js' %>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript">

	var revapi;

	jQuery(document).ready(function() {

		   revapi = jQuery('.tp-banner').revolution(
			{
				delay:9000,
				startwidth:1170,
				startheight:500,
				hideThumbs:10,
				fullWidth:"on",
				forceFullWidth:"on"
			});

	});	//ready

</script>

<!-- fade news -->
<script type="application/javascript">
(function() {
    var quotes = $(".quotes");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1000)
            .delay(4000)
            .fadeOut(1000, showNextQuote);
    }
    
    showNextQuote();
	
})();
</script>

<%= javascript_include_tag '/frontend/layout2/js/sticky-menu/core.js' %>
<%= javascript_include_tag '/frontend/layout2/js/sticky-menu/modernizr.custom.75180.js' %>