<div class="site_wrapper">
   

<!-- HEADER -->
<div class="joosa top_section">
  
  <%= render 'header' %>
  
</div><!-- end header -->

<div class="clearfix mar_top13"></div>
 
<!-- Slider
======================================= -->  

<div class="container_full">
    
    <%= render 'slideshow' %>

</div><!-- end slider -->


<div class="clearfix"></div>

<div class="fresh_projects">
	<div class="container">
    
    	<h1><i></i>
        <strong><%= t(:projects) %></strong>
        </h1>
        
        <ul id="mycarouseltwo" class="jcarousel-skin-tango">
          <% @projects.each do |item| %>
            <li>
                <div class="item">                        
                <div class="fresh_projects_list">
                    <section class="cheapest">
                        <div class="display">                  
                            <div class="small-group">        
                                <div class="small money">
                                        <img src="<%= item.image_url.large_project_image %>" alt="275x300">
                                        <div class="info">
                                            <div class="title"><%= item.title %><br /><em><%= item.location %></em>
											</div>
                                            <div class="additionnal">
                                            	<%= truncate(strip_tags(item.content.html_safe), length: 130, omission: ' [..]') %><br /><br />
                                                <b><a href="<%= url_for(controller: 'project', action: 'detail') %>">chi tiết ></a></b>
                                            </div>
                                        </div>
                                        <div class="hover"></div> 
                                </div>        
                            </div>     
                        </div>
                    </section>
                </div>
                </div>
            </li><!-- end item -->
		  <% end %>
               
          </ul>
        
    </div>
    
	<div class="clearfix mar_top2"></div>
    
</div><!-- end fresh projects -->

<div class="clearfix"></div>

<div class="mar_top4"></div>

<div class="joosa fusectio1">
	<div class="container">

	<h1><i></i>
    <strong><%= t(:news) %></strong>
	</h1>
	<% @lastest_news.limit(3).each_with_index do |item, index| %>
	  <div class="one_third <%= "last" if item == @lastest_news.limit(3).last %>">
		  
		  <div class="left">
		  
			  <h4><%= item.title %></h4>
			  <p><%= truncate(strip_tags(item.content), :length => 65) %></p>
			  <a href="<%= url_for(controller: 'news', action: 'detail', article_id: item.id) %>"><i class="fa fa-plus-square"></i>&nbsp; Đọc tiếp</a>
		  
		  </div>
		  
		  <div class="right one"><img src="/frontend/layout2/images/news-home-tiet-kiem-nang-luong.jpg" alt="200x250" /></div>
  
	  </div><!-- end section -->
	<% end %>
       
</div>
</div><!-- end features section 1 -->

<div class="clearfix mar_top5"></div>



<div class="clearfix mar_top4"></div>

<!-- Footer
======================================= -->

<%= render 'footer' %>

    
<!-- ######### JS FILES ######### -->

<!-- get jQuery from the google apis -->
<%= javascript_include_tag '/frontend/js/universal/jquery.js' %>

<!-- style switcher -->
<%= javascript_include_tag '/frontend/js/style-switcher/jquery-1.js' %>
<%= javascript_include_tag '/frontend/js/style-switcher/styleselector.js' %>

<!-- main menu -->
<%= javascript_include_tag '/frontend/js/mainmenu/ddsmoothmenu.js' %>
<%= javascript_include_tag '/frontend/js/mainmenu/selectnav.js' %>

<!-- jquery jcarousel -->
<%= javascript_include_tag '/frontend/js/jcarousel/jquery.jcarousel.min.js' %>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<%= javascript_include_tag '/frontend/js/revolutionslider/rs-plugin/js/jquery.themepunch.plugins.min.js' %>
<%= javascript_include_tag '/frontend/js/revolutionslider/rs-plugin/js/jquery.themepunch.revolution.min.js' %>

<%= javascript_include_tag '/frontend/js/mainmenu/scripts.js' %>

<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<!-- jquery jcarousel -->
<script type="text/javascript">

	jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouseltwo').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselfour').jcarousel();
	});
	
</script>

<!-- accordion -->
<%= javascript_include_tag '/frontend/js/accordion/custom.js' %>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript">

	var revapi;

	jQuery(document).ready(function() {

		   revapi = jQuery('.tp-banner').revolution(
			{
				delay:9000,
				startwidth:1170,
				startheight:500,
				hideThumbs:10,
				fullWidth:"on",
				forceFullWidth:"on"
			});

	});	//ready

</script>

<!-- fade news -->
<script type="application/javascript">
(function() {
    var quotes = $(".quotes");
    var quoteIndex = -1;
    
    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1000)
            .delay(4000)
            .fadeOut(1000, showNextQuote);
    }
    
    showNextQuote();
	
})();
</script>

<%= javascript_include_tag '/frontend/js/sticky-menu/core.js' %>
<%= javascript_include_tag '/frontend/js/sticky-menu/modernizr.custom.75180.js' %>