
<div class="sidebar_widget">

    <div class="sidebar_title"><h3><i><%= t(:lastest_news) %></i></h3></div>
    <ul class="recent_posts_list">

        <% @lastest_news.limit(3).each do |item| %>
            <li>
                <span><a href="#"><img src="<%= item.image_url.small_square_image %>" alt="50x50" /></a></span>
                <%= link_to item.title, { controller: "news", action: "detail", article_id: item.id } %>
                 <i><%= item.created_at.strftime("%B %d, %Y") %></i> 
            </li>	
        <% end %>
    </ul>
    
</div><!-- end section -->

<div class="clearfix mar_top4"></div>

<div class="sidebar_widget">

    <div class="sidebar_title"><h3><i><%= t(:projects) %></i></h3></div>
    
    <div class="portfolio_sidebar_widget">
    
        <ul id="mycarouseltwo" class="jcarousel-skin-tango">
            <% @projects.each do |item| %>
                <li>
                    <div class="item">                        
                        <div class="fresh_projects_list">
                            <section class="cheapest">
                                <div class="display">                  
                                    <div class="small-group">        
                                        <div class="small money">
                                                <img src="<%= item.image_url.medium_project_image %>" alt="275x250">
                                                <div class="info">
                                                    <div class="title"><%= item.title %> <br /><em><%= item.location %></em></div>
                                                    <div class="additionnal" style="text-align: justify">
                                                        <%= truncate(strip_tags(item.content.html_safe), length: 130, omission: ' [..]') %><br /><br />
                                                        <b><%= link_to 'chi tiết >', { controller: "project", action: "detail", article_id: item.id } %></b>
                                                    </div>
                                                </div>
                                                <div class="hover"></div> 
                                        </div>        
                                    </div>     
                                </div>
                            </section>
                        </div>
                    </div>
                </li><!-- end item -->
            <% end %>
        </ul>
      
    </div>
              
</div><!-- end section -->