<div class="site_wrapper">
   

<!-- HEADER -->
<header id="header">
 
	<%= render 'home/header' %>
    
</header><!-- end header -->

<div class="clearfix"></div>

<div class="page_title">

	<div class="container">
		<div class="title"><h1><%= t(:news) %></h1></div>
        <div class="pagenation">&nbsp;<%= link_to t(:home), root_path %> <i>/</i> <%= link_to t(:news), { controller: "news", action: "index" } %> <i>/</i> Tiết kiệm nước tiết kiệm năng lượng</div>
	</div>
</div><!-- end page title --> 


<!-- Contant
======================================= -->

<div class="container">

<div class="content_left">
	
    <div class="blog_post">	
        <div class="blog_postcontent">
        <!--<div class="image_frame"><a href="#"><img src="<%= @news.image_url.post_image %>" alt="810x360" /></a></div>-->
        <a href="#" class="date"><strong><%= @news.created_at.strftime("%d") %></strong><i><%= @news.created_at.strftime("%B") %></i></a>
        <h3><%= link_to @news.title, { controller: "news", action: "detail", article_id: @news.id } %></h3>
		
        <div class="post_info_content" style="text-align: justify;">
        
		<p><%= @news.content.html_safe %></p>
		
        </div>
        </div>
    </div><!-- /# end post -->
            
    <div class="mar_top5"></div>
            
</div><!-- end content left side area -->


<!-- right sidebar starts -->
<div class="right_sidebar">

	<%= render 'right_sidebar' %>
    
	<div class="clearfix mar_top5"></div>

</div>

</div><!-- end content area -->

<div class="clearfix mar_top4"></div>

<!-- Footer
======================================= -->

<%= render 'home/footer' %>

    
<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->
<%= javascript_include_tag '/frontend/js/universal/jquery.js' %>

<!-- style switcher -->
<%= javascript_include_tag '/frontend/js/style-switcher/jquery-1.js' %>
<%= javascript_include_tag '/frontend/js/style-switcher/styleselector.js' %>

<!-- main menu -->
<%= javascript_include_tag '/frontend/js/mainmenu/ddsmoothmenu.js' %>
<%= javascript_include_tag '/frontend/js/mainmenu/selectnav.js' %>

<!-- jquery jcarousel -->
<%= javascript_include_tag '/frontend/js/jcarousel/jquery.jcarousel.min.js' %>

<!-- tab widget -->
<%= javascript_include_tag '/frontend/js/tabs/tabwidget/tabwidget.js' %>
<%= javascript_include_tag '/frontend/js/mainmenu/scripts.js' %>

<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<!-- jquery jcarousel -->
<script type="text/javascript">

	jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouseltwo').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselfour').jcarousel();
	});
	
</script>

<%= javascript_include_tag '/frontend/js/sticky-menu/core.js' %>
<%= javascript_include_tag '/frontend/js/sticky-menu/modernizr.custom.75180.js' %>