<div class="site_wrapper">
   

<!-- HEADER -->
<header id="header">
  
  <%= render 'home/header' %>
    
</header><!-- end header -->

<div class="clearfix"></div>

<div class="page_title">

	<div class="container">
		<div class="title"><h1>Tin tức</h1></div>
        <div class="pagenation">&nbsp;<%= link_to t(:home), root_path %> <i>/</i> <%= t(:news) %></div>
	</div>
</div><!-- end page title --> 


<!-- Contant
======================================= -->

<div class="container">

<div class="content_left">
        	
    <div class="blog_post">	
        <div class="blog_postcontent">
        <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
        <div class="post_info_content_small">
        <a href="blog-archive" class="date"><strong>18</strong><i>October</i></a>
        <h3><a href="<%= url_for(controller: 'news', action: 'detail') %>">Tiết kiệm nước tiết kiệm năng lượng</a></h3>
            
         <div class="clearfix"></div>
        
        <p>Khi nói đến tiềm năng tiết kiệm năng lượng tại các tòa nhà, khách sạn, chúng ta thường nghĩ ngay đến các hệ thống sử dụng điện lớn như hệ thống lạnh, chiếu sáng, … mà ít ai biết rằng hệ thống sử dụng nước cũng là một [..]</p>
        
        </div>
        </div>
    </div><!-- /# end post -->
    
    <div class="clearfix divider_line3"></div>
    
    <div class="blog_post">	
        <div class="blog_postcontent">
        <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
        <div class="post_info_content_small">
        <a href="blog-archive" class="date"><strong>17</strong><i>October</i></a>
        <h3><a href="<%= url_for(controller: 'news', action: 'detail') %>">Tiết kiệm nước tiết kiệm năng lượng</a></h3>
            
         <div class="clearfix"></div>
        
        <p>Khi nói đến tiềm năng tiết kiệm năng lượng tại các tòa nhà, khách sạn, chúng ta thường nghĩ ngay đến các hệ thống sử dụng điện lớn như hệ thống lạnh, chiếu sáng, … mà ít ai biết rằng hệ thống sử dụng nước cũng là một [..]</p>
        
        </div>
        </div>
    </div><!-- /# end post -->
    
    <div class="clearfix divider_line3"></div>
    
    <div class="blog_post">	
        <div class="blog_postcontent">
        <div class="image_frame small"><a href="#"><img src="http://placehold.it/810x360" alt="" /></a></div>
        <div class="post_info_content_small">
        <a href="#" class="date"><strong>16</strong><i>October</i></a>
        <h3><a href="<%= url_for(controller: 'news', action: 'detail') %>">Tiết kiệm nước tiết kiệm năng lượng</a></h3>
            
         <div class="clearfix"></div>
        
        <p>Khi nói đến tiềm năng tiết kiệm năng lượng tại các tòa nhà, khách sạn, chúng ta thường nghĩ ngay đến các hệ thống sử dụng điện lớn như hệ thống lạnh, chiếu sáng, … mà ít ai biết rằng hệ thống sử dụng nước cũng là một [..]</p>
        
        </div>
        </div>
    </div><!-- /# end post -->
    
    <div class="clearfix divider_line3"></div>
    
    <div class="pagination">
    <b>Page 2 of 18</b>
    <a href="#" class="navlinks">&lt; Previous</a>
        <a href="#" class="navlinks">1</a>
        <a href="#" class="navlinks current">2</a>
        <a href="#" class="navlinks">3</a>
        <a href="#" class="navlinks">4</a>
        <a href="#" class="navlinks">Next ></a>
    </div><!-- end pagination -->

</div><!-- end content left side area -->


<!-- right sidebar starts -->
<div class="right_sidebar">

	<%= render 'right_sidebar' %>
    
	<div class="clearfix mar_top5"></div>

</div>

</div><!-- end content area -->

<div class="clearfix mar_top4"></div>

<!-- Footer
======================================= -->

<%= render 'home/footer' %>
    
<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->
<%= javascript_include_tag '/frontend/js/universal/jquery.js' %>

<!-- style switcher -->
<%= javascript_include_tag '/frontend/js/style-switcher/jquery-1.js' %>
<%= javascript_include_tag '/frontend/js/style-switcher/styleselector.js' %>

<!-- main menu -->
<%= javascript_include_tag '/frontend/js/mainmenu/ddsmoothmenu.js' %>
<%= javascript_include_tag '/frontend/js/mainmenu/selectnav.js' %>

<!-- jquery jcarousel -->
<%= javascript_include_tag '/frontend/js/jcarousel/jquery.jcarousel.min.js' %>

<!-- tab widget -->
<%= javascript_include_tag '/frontend/js/tabs/tabwidget/tabwidget.js' %>

<%= javascript_include_tag '/frontend/js/mainmenu/scripts.js' %>

<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<!-- jquery jcarousel -->
<script type="text/javascript">

	jQuery(document).ready(function() {
			jQuery('#mycarousel').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouseltwo').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselthree').jcarousel();
	});
	
	jQuery(document).ready(function() {
			jQuery('#mycarouselfour').jcarousel();
	});
	
</script>

<%= javascript_include_tag '/frontend/js/sticky-menu/core.js' %>
<%= javascript_include_tag '/frontend/js/sticky-menu/modernizr.custom.75180.js' %>