<% if @article_category.errors.any? %>
    <div id="error_explanation">
        <span class="label label-warning"></span>
        <div class="alert alert-warning alert-styled-left">
            <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
            <% @article_category.errors.full_messages.each do |message| %>
                - <%= message %><br/>
            <% end %>
        </div>
    </div>
<% end %>

<%= form_for [:admin, @article_category], html: {class: "form-horizontal"} do |f| %>
    
    <div class="form-group">
        <label class="col-lg-2 control-label" ><%= t(:list_categories_article_name) %> <span class='text-danger'>*</span></label>
        <div class="col-lg-10">
            <%= f.text_field :name, class: "form-control" %>
        </div>
    </div>
    
    <div class="form-group">
        <%= f.label t(:list_description), class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
            <%= f.text_area :description, rows: "5", cols: "5", class: "form-control" %>
        </div>
    </div>
        
    <div class="form-group">
        <%= f.label t(:related_categories), class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
            <% ArticleCategory.all.each do |article_category| %>
                <% if @article_category.id != article_category.id %>
                  <% if article_category.level == 1 %>
                    <p>
                        <div class="row-fluid">
                            <div class="checkbox">
                              <%= check_box_tag 'article_category[parent_ids][]', article_category.id, @article_category.parent.include?(article_category), id: "article_category_#{article_category.id}", class: "styled-level-1" %>
                              <%= f.label article_category.name, :for => "article_category_#{article_category.id}" %>
                            </div>
                        </div>
                    </p>
                  <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div class="text-right">
        <%= button_tag "#{t(:save)} <i class=\"icon-plus22 position-right\"></i>".html_safe, class: "btn btn-primary"%>
        <%= link_to "#{t(:cancel)} <i class=\"icon-cross3 position-right\"></i>".html_safe, admin_article_categories_path, class: "btn btn-danger"%>
    </div>
    
<% end %>