<!-- Main navbar -->
<%= render "/admin/main/main_navbar" %>
<!-- /main navbar -->

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <%= render "/admin/main/user_menu" %>
                <!-- /user menu -->

                <!-- Main navigation -->
                <%= render "/admin/main/main_menu" %>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">
        
            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><span class="text-semibold"><%= t(:categories_article) %></span></h4>
                    </div>
                </div>
            
                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><%= link_to '<i class="icon-home2 position-left"></i>'.html_safe + t(:home), { controller: "main", action: "index" } %></li>
                        <li><a href="<%= admin_article_categories_path %>"><%= t(:article) %></a></li>
                        <li class="active"><%= t(:categories_article) %></li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->
            
            <!-- Content area -->
            <div class="content">
            
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="panel-heading col-md-12">
                        <h5 class="panel-title col-md-6"><span class="text-semibold"><%= t(:listing_categories) %></span></h5>
                        <%= link_to t(:new_category), new_admin_article_category_path, class: 'btn btn-primary pull-right' %>
                    </div>
                    
                    <div class="filter-box">
                        <%= form_for("", url: {controller: 'article_categories', action: 'search'}, method: "get") do |f| %>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="" ><%= t(:sort_by) %></label>
                                        <div>
                                            <%= select_tag(:sort_by, options_for_select(ArticleCategory.sort_by, :selected => params[:sort_by]), class: "select") %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="" ><%= t(:sort_order) %></label>
                                        <div>
                                            <%= select_tag(:sort_order, options_for_select(ArticleCategory.sort_order, :selected => params[:sort_order]), class: "select") %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="" ><%= t(:filter) %></label>
                                        <div class="input-group">
                                            <input type="text" name="keyword" class="form-control" placeholder="<%= t(:placeholder_filter) %>" value="<%= params[:keyword] %>">
                                            <a class="input-group-addon keyword_search_button"><i class="icon-search4"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        <% end %>
                    </div>
                    
                    <table class="table">
                        <thead>
                            <tr class="bg-teal-800">
                                <th><%= t(:list_category_name) %></th></th>
                                <th><%= t(:list_description) %></th>
                                <th><%= t(:created_at) %></th>
                                <th class="text-center"><%= t(:actions) %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @article_categories.each do |item| %>
                                <% if item.parent.count == 0 %>
                                    <% item.update_level(1) %>
                                    <tr>
                                        <td>
                                            <%= link_to item.name.html_safe, edit_admin_article_category_path(item) %>
                                        </td>
                                        <td>
                                            <%= item.description %>
                                        </td>
                                        <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                        <td class="text-center">
                                            <ul class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="icon-menu9"></i>
                                                    </a>
                    
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <%= link_to '<i class="glyphicon glyphicon-edit"></i>'.html_safe + t(:edit), edit_admin_article_category_path(item) %>
                                                        </li>
                                                        <li>
                                                            <%= link_to '<i class="icon-cross2"></i>'.html_safe + t(:delete), [:admin, item], method: :delete, data: {confirm: t(:confirm_delete)} %>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <% item.children.each do |child_1| %>
                                        <% child_1.update_level(2) %>
                                        <tr>
                                            <td>
                                                <%= link_to child_1.name.html_safe, edit_admin_article_category_path(child_1) %>
                                            </td>
                                            <td>
                                                <%= child_1.description %>
                                            </td>
                                            <td><%= child_1.created_at.strftime("%d/%m/%Y") %></td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                            <i class="icon-menu9"></i>
                                                        </a>
                        
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li>
                                                                <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_admin_article_category_path(child_1) %>
                                                            </li>
                                                            <li>
                                                                <%= link_to '<i class="icon-cross2"></i> Delete'.html_safe, [:admin, child_1], method: :delete, data: {confirm: 'Are you sure?'} %>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                    <div class="dataTables_wrapper no-footer">
                        <div class="datatable-footer showed">
                            <div class="dataTables_info" ><%= page_entries_info @article_categories %></div>
                            <div class="dataTables_paginate paging_simple_numbers">
                                <%= will_paginate @article_categories, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /basic datatable -->
            
                <!-- Footer -->
                <%= render '/admin/main/footer' %>
                <!-- /footer -->
            
            </div>
            <!-- /content area -->
        
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/assets/js/plugins/tables/datatables/datatables.min.js' %>
<%= javascript_include_tag '/backend/assets/js/plugins/forms/selects/select2.min.js' %>

<%= javascript_include_tag '/backend/assets/js/core/app.js' %>
<%= javascript_include_tag '/backend/assets/javascripts/datatables_article_categories.js' %>
<!-- /theme JS files -->