<p id="notice"><%= notice %></p>

<h1>Listing Line Item Compares</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Compare</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_item_compares.each do |line_item_compare| %>
      <tr>
        <td><%= line_item_compare.product %></td>
        <td><%= line_item_compare.compare %></td>
        <td><%= link_to 'Show', line_item_compare %></td>
        <td><%= link_to 'Edit', edit_line_item_compare_path(line_item_compare) %></td>
        <td><%= link_to 'Destroy', line_item_compare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line item compare', new_line_item_compare_path %>
