<div class="site_wrapper">
   
	<!-- HEADER -->
	<header id="header">
	 
		<%= render 'home/header' %>
		
	</header><!-- end header -->
	
	<div class="clearfix"></div>
	
	<div class="page_title">
	
		<div class="container">
			
			<div class="title"><h1><%= t(:projects) %></h1></div>
			
			<div class="pagenation">&nbsp;<%= link_to t(:home), root_path %> <i>/</i> <%= t(:projects) %></div>
		
		</div>
	
	</div><!-- end page title --> 
	
	
	<!-- Content
	======================================= -->
	
	<div class="container">
	
		<div class="clearfix mar_top7"></div>
	
		<div class="portfolio_page">
		
			<div class="portfolioFilter">
			
				<a href="#" data-filter="*" class="current">Tất cả</a>
			   
				<a href="#" data-filter=".places">Nhà máy Heineken - Phnom Penh</a>
				
				<a href="#" data-filter=".people">Nhà phố Đà Nẵng</a>
				
				<a href="#" data-filter=".objects">Objects</a>
			
			</div>
	
			<div class="clearfix mar_top5"></div>
	
			<div class="portfolioContainer">
			
				<div class="objects">
					
					<a class="fancybox" href="/frontend/images/heineken-001.jpg" data-fancybox-group="gallery" title="Publishing has packages and More text can be use here - 800x450"><div class="imgWrap"><img src="/frontend/images/heineken-001.jpg" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Publishing has packages</h3></div></a>
				
				</div>	
			
				<div class="people">
					
					<a class="fancybox" href="/frontend/images/heineken-002.jpg" data-fancybox-group="gallery" title="Typesetting industry and More text can be use here"><div class="imgWrap"><img src="/frontend/images/heineken-002.jpg" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Typesetting industry</h3></div></a>
				
				</div>
				
				<div class="places">
					
					<a class="fancybox" href="/frontend/images/heineken-003.jpg" data-fancybox-group="gallery" title="Standard dummy text and More text can be use here"><div class="imgWrap"><img src="/frontend/images/heineken-003.jpg" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Standard dummy text</h3></div></a>
				
				</div>
			
				<div class="people">
					<a class="fancybox" href="/frontend/images/NPDN1.jpg" data-fancybox-group="gallery" title="Passages more recently and More text can be use here"><div class="imgWrap"><img src="/frontend/images/NPDN1.jpg" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Passages more recently</h3></div></a>
				</div>
			
				<div class="places">
					
					<a class="fancybox" href="/frontend/images/NPDN2.jpg" data-fancybox-group="gallery" title="Letrasets containing and More text can be use here"><div class="imgWrap"><img src="/frontend/images/NPDN2.jpg" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Letrasets containing</h3></div></a>
				
				</div>
			
				<div class="places">
					<a class="fancybox" href="/frontend/images/NPDN3.jpg" data-fancybox-group="gallery" title="sentence structures and More text can be use here"><div class="imgWrap"><img src="/frontend/images/NPDN3.jpg" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Sentence structures</h3></div></a>
				</div>
				
				<div class="people objects">
					
					<a class="fancybox" href="/frontend/images/NPDN4.png" data-fancybox-group="gallery" title="sentence structures and More text can be use here"><div class="imgWrap"><img src="/frontend/images/NPDN4.png" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Professor structures</h3></div></a>
				
				</div>
				  
				<div class="objects">
					
					<a class="fancybox" href="/frontend/images/heineken-004.png" data-fancybox-group="gallery" title="sentence structures and More text can be use here"><div class="imgWrap"><img src="/frontend/images/heineken-004.png" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Classical literature</h3></div></a>
				
				</div>
				   
				<div class="people">
					
					<a class="fancybox" href="/frontend/images/heineken-005.png" data-fancybox-group="gallery" title="sentence structures and More text can be use here"><div class="imgWrap"><img src="/frontend/images/heineken-005.png" alt="" /><p class="imgDescription"><i class="fa fa-search fa-4x"></i></p><h3>Many web sites</h3></div></a>
				
				</div>
				
			</div>
		   
		</div>
	
	</div><!-- end content area -->
	
	
	<div class="clearfix mar_top4"></div>
	
	<!-- Footer
	======================================= -->
	
	<%= render 'home/footer' %>
	
		
	<!-- ######### JS FILES ######### -->
	<!-- get jQuery from the google apis -->
	<%= javascript_include_tag '/frontend/js/universal/jquery.js' %>
	
	<!-- style switcher -->
	<%= javascript_include_tag '/frontend/js/style-switcher/jquery-1.js' %>
	<%= javascript_include_tag '/frontend/js/style-switcher/styleselector.js' %>
	
	<!-- main menu -->
	<%= javascript_include_tag '/frontend/js/mainmenu/ddsmoothmenu.js' %>
	
	<%= javascript_include_tag '/frontend/js/mainmenu/selectnav.js' %>
	
	<%= javascript_include_tag '/frontend/js/mainmenu/scripts.js' %>
	
	<!-- scroll up -->
	<script type="text/javascript">
		$(document).ready(function(){
	 
			$(window).scroll(function(){
				if ($(this).scrollTop() > 100) {
					$('.scrollup').fadeIn();
				} else {
					$('.scrollup').fadeOut();
				}
			});
	 
			$('.scrollup').click(function(){
				$("html, body").animate({ scrollTop: 0 }, 500);
				return false;
			});
	 
		});
	</script>
	
	<%= javascript_include_tag '/frontend/js/sticky-menu/core.js' %>
	<%= javascript_include_tag '/frontend/js/sticky-menu/modernizr.custom.75180.js' %>
	
	<!-- fancyBox -->
	<%= javascript_include_tag '/frontend/js/portfolio/lib/jquery-1.9.0.min.js' %>
	<%= javascript_include_tag '/frontend/js/portfolio/source/jquery.fancybox.js' %>
	<%= javascript_include_tag '/frontend/js/portfolio/source/helpers/jquery.fancybox-media.js' %>
	
	<!-- isotope -->
	<%= javascript_include_tag '/frontend/js/portfolio/jquery.isotope.js' %>
	
	<!-- isotope -->
	<script type="text/javascript">
	$(window).load(function(){
		var $container = $('.portfolioContainer');
		$container.isotope({
			filter: '*',
			animationOptions: {
				duration: 750,
				easing: 'linear',
				queue: false
			}
		});
	 
		$('.portfolioFilter a').click(function(){
			$('.portfolioFilter .current').removeClass('current');
			$(this).addClass('current');
	 
			var selector = $(this).attr('data-filter');
			$container.isotope({
				filter: selector,
				animationOptions: {
					duration: 750,
					easing: 'linear',
					queue: false
				}
			 });
			 return false;
		}); 
	});
	</script>
	
	<!-- fancyBox -->
	<script type="text/javascript">
		$(document).ready(function() {
			/* Simple image gallery. Uses default settings */
			$('.fancybox').fancybox();
	
			/* media effects*/  
			$(document).ready(function() {
				$('.fancybox-media').fancybox({
					openEffect  : 'none',
					closeEffect : 'none',
					helpers : {
						media : {}
					}
				});
			});
	
		});
	</script>