<div class="site_wrapper">
   
	<!-- HEADER -->
	<header id="header">
	 
		<%= render 'home/header' %>
		
	</header><!-- end header -->
	
	<div class="clearfix"></div>
	
	<div class="page_title">
	
		<div class="container">
			
			<div class="title"><h1><%= t(:projects) %></h1></div>
			
			<div class="pagenation">&nbsp;<%= link_to t(:home), root_path %> <i>/</i> <%= t(:projects) %></div>
		
		</div>
	
	</div><!-- end page title --> 

<!-- Contant
======================================= -->

<div class="container">

	<div class="content_fullwidth">
    
		<h2><strong></strong></h2>
        
		<div class="one_third">
        	<div class="portfolio_image">
            <a class="fancybox" href="<%= url_for(controller: 'project', action: 'detail') %>" data-fancybox-group="gallery" title="Publishing has packages">
				<img src="/frontend/layout2/images/heineken-project.jpg" alt="800x450" /></a>
            <div class="title"><%= link_to('Công trình nhà máy Heineken', {controller: 'project', action: 'detail'}) %></div>
            </div>
        </div><!-- end section -->
        
        <div class="one_third">
        	<div class="portfolio_image">
            <a class="fancybox" href="<%= url_for(controller: 'project', action: 'detail') %>" data-fancybox-group="gallery" title="Publishing has packages">
				<img src="/frontend/layout2/images/heineken-project.jpg" alt="800x450" /></a>
            <div class="title"><%= link_to('Công trình nhà máy Heineken', {controller: 'project', action: 'detail'}) %></div>
            </div>
        </div><!-- end section -->
        
        <div class="one_third last">
        	<div class="portfolio_image">
            <a class="fancybox" href="<%= url_for(controller: 'project', action: 'detail') %>" data-fancybox-group="gallery" title="Publishing has packages">
				<img src="/frontend/layout2/images/heineken-project.jpg" alt="800x450" /></a>
            <div class="title"><%= link_to('Công trình nhà máy Heineken', {controller: 'project', action: 'detail'}) %></div>
            </div>
        </div><!-- end section -->
        
        <div class="clearfix mar_top5"></div>
        
        <div class="one_third">
        	<div class="portfolio_image">
            <a class="fancybox" href="<%= url_for(controller: 'project', action: 'detail') %>" data-fancybox-group="gallery" title="Publishing has packages">
				<img src="/frontend/layout2/images/heineken-project.jpg" alt="800x450" /></a>
            <div class="title"><%= link_to('Công trình nhà phố', {controller: 'project', action: 'detail'}) %></div>
            </div>
        </div><!-- end section -->
        
        <div class="one_third">
        	<div class="portfolio_image">
            <a class="fancybox" href="<%= url_for(controller: 'project', action: 'detail') %>" data-fancybox-group="gallery" title="Publishing has packages">
				<img src="/frontend/layout2/images/heineken-project.jpg" alt="800x450" /></a>
            <div class="title"><%= link_to('Công trình nhà phố', {controller: 'project', action: 'detail'}) %></div>
            </div>
        </div><!-- end section -->
    
	</div>
	
	<div class="clearfix mar_top4"></div>
    
    <div class="pagination">
    <b>Trang 2 / 18</b>
    <a href="#" class="navlinks">&lt; Trước</a>
        <a href="#" class="navlinks">1</a>
        <a href="#" class="navlinks current">2</a>
        <a href="#" class="navlinks">3</a>
        <a href="#" class="navlinks">4</a>
        <a href="#" class="navlinks">Sau ></a>
    </div><!-- end pagination -->

</div><!-- end content area -->


<div class="clearfix mar_top4"></div>

<!-- Footer
======================================= -->

<%= render 'home/footer' %>

    
<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->
<%= javascript_include_tag '/frontend/layout2/js/universal/jquery.js' %>

<!-- style switcher -->
<%= javascript_include_tag '/frontend/layout2/js/style-switcher/jquery-1.js' %>
<%= javascript_include_tag '/frontend/layout2/js/style-switcher/styleselector.js' %>

<!-- main menu -->
<%= javascript_include_tag '/frontend/layout2/js/mainmenu/ddsmoothmenu.js' %>

<%= javascript_include_tag '/frontend/layout2/js/mainmenu/selectnav.js' %>

<%= javascript_include_tag '/frontend/layout2/js/mainmenu/scripts.js' %>

<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<%= javascript_include_tag '/frontend/layout2/js/sticky-menu/core.js' %>
<%= javascript_include_tag '/frontend/layout2/js/sticky-menu/modernizr.custom.75180.js' %>

<!-- fancyBox -->
<%= javascript_include_tag '/frontend/layout2/js/portfolio/lib/jquery-1.9.0.min.js' %>
<%= javascript_include_tag '/frontend/layout2/js/portfolio/source/jquery.fancybox.js' %>
<%= javascript_include_tag '/frontend/layout2/js/portfolio/source/helpers/jquery.fancybox-media.js' %>

<!-- isotope -->
<%= javascript_include_tag '/frontend/layout2/js/portfolio/jquery.isotope.js' %>

<!-- isotope -->
<script type="text/javascript">
$(window).load(function(){
    var $container = $('.portfolioContainer');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });
 
    $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
    }); 
});
</script>

<!-- fancyBox -->
<script type="text/javascript">
    $(document).ready(function() {
        /* Simple image gallery. Uses default settings */
        $('.fancybox').fancybox();

        /* media effects*/  
        $(document).ready(function() {
            $('.fancybox-media').fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                helpers : {
                    media : {}
                }
            });
        });

    });
</script>