<p id="notice"><%= notice %></p>

<h1>Listing Delivery Methods</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_methods.each do |delivery_method| %>
      <tr>
        <td><%= delivery_method.title %></td>
        <td><%= delivery_method.description %></td>
        <td><%= link_to 'Show', delivery_method %></td>
        <td><%= link_to 'Edit', edit_delivery_method_path(delivery_method) %></td>
        <td><%= link_to 'Destroy', delivery_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery method', new_delivery_method_path %>
