<div class="site_wrapper">
   

<!-- HEADER -->
<header id="header">
 
	<%= render 'home/header' %>
    
</header><!-- end header -->

<div class="clearfix"></div>

<div class="page_title">

	<div class="container">
		<div class="title"><h1><%= t(:contact) %></h1></div>
        <div class="pagenation">&nbsp;<%= link_to t(:home), root_path %> <i>/</i> <%= t(:contact) %></div>
	</div>
</div><!-- end page title --> 


<!-- Contant
======================================= -->

<div class="container">

	<div class="content_fullwidth">
        	
    <div class="one_half">
        

    <p>Feel free to talk to our online representative at any time you please using our Live Chat system on our website or one of the below instant messaging programs.</p>
    <br />
    <p>Please be patient while waiting for response. (24/7 Support!)
    <strong>Phone General Inquiries: 1-888-123-4567-8900</strong></p>

    <br />
    <h3><strong><%= t(:message_us) %></strong></h3>

    <form action="" method="post">
    
        <fieldset>
        
        <label for="name" class="blocklabel">Your Name*</label>
        <p class="" ><input name="yourname" class="input_bg" type="text" id="name" value=''/></p>
        
        
        <label for="email" class="blocklabel">E-Mail*</label>
        <p class="" ><input name="email" class="input_bg" type="text" id="email" value='' /></p>
        
        
        <label for="website" class="blocklabel">Website</label>
        <p><input name="website" class="input_bg" type="text" id="website" value=""/></p>
        
        
        <label for="message" class="blocklabel">Your Message*</label>
        <p class=""><textarea name="message" class="textarea_bg" id="message" cols="20" rows="7" placeholder="Your Message"></textarea></p>
        
        
        <p>
        <input type="hidden" id="myemail" name="myemail" value="<?php echo $email_adress_reciever; ?>" />
        <input type="hidden" id="myblogname" name="myblogname" value="<?php echo $name_of_your_site; ?>" />
        <div class="clearfix"></div>
        <input name="Send" type="submit" value="<%= t(:send) %>" class="comment_submit" id="send"/></p>
        
        <!--<div class="success">
            <div class="message-box-wrap">
               Your message has been <strong>Received Successfully!</strong> Thank you!</div>
        </div>-->
        
        </fieldset>
        
        </form> 
    
    </div>
               
    <div class="one_half last">
    
        <div class="address-info">
            <h3><strong><%= t(:contact_info) %></strong></h3>
                <ul>
                <li>
                <strong><%= t(:company_name) %></strong><br />
                <%= t(:company_address) %><br />
                Điện thoại: +84 8 6682 2233<br />
                Fax: <br />
                E-mail: <a href="mailto:mail@companyname.com">mail@companyname.com</a><br />
                Website: <%= link_to "sao-ee.vn", root_path %>
                </li>
            </ul>
        </div>

        <h3><strong><%= t(:find_the_address) %></strong></h3>
        <iframe class="google-map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4767990932887!2d106.70126231480079!3d10.774746992322692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f46fac17665%3A0xd5ea4e1ebf992ba3!2zNjggTmd1ecOqzINuIEh1w6rMoywgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1461258161064"></iframe>
    </div>
            
</div>

</div><!-- end content area -->


<div class="clearfix mar_top5"></div>

<!-- Footer
======================================= -->

<%= render 'home/footer' %>

   
<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->
<%= javascript_include_tag '/frontend/js/universal/jquery.js' %>

<!-- style switcher -->
<%= javascript_include_tag '/frontend/js/style-switcher/jquery-1.js' %>
<%= javascript_include_tag '/frontend/js/style-switcher/styleselector.js' %>

<!-- main menu -->
<%= javascript_include_tag '/frontend/js/mainmenu/ddsmoothmenu.js' %>
<%= javascript_include_tag '/frontend/js/mainmenu/selectnav.js' %>

<!-- progress bar -->
<%= javascript_include_tag '/frontend/js/progressbar/progress.js' %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-374977-27']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<%= javascript_include_tag 'js/mainmenu/scripts.js' %>

<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script>

<%= javascript_include_tag '/frontend/js/sticky-menu/core.js' %>
<%= javascript_include_tag '/frontend/js/sticky-menu/modernizr.custom.75180.js' %>